body,
html {
  margin: 0;
  padding: 0;
  background-color: #7e8e65;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5% 1fr 1fr 5% 40%;
  grid-template-rows: 1fr 5% 1fr 1fr 5% 1fr;
  gap: 0px 0px;
  background-image: url('launchpageBackground.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.overlay {
  grid-area: 2 / 2 / 6 / 6;
  background-color: rgba(255, 255, 255, 0.8);
}
.header {
  grid-area: 3 / 3 / 4 / 5;
  display: flex;
  align-content: center;
  justify-content: center;
}
.info {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-grid {
  grid-area: 4 / 4 / 5 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Unica One', cursive;
}
.button a {
  align-items: center;
  justify-content: center;
}
.button a:link,
.button a:visited {
  background-color: #d73739;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
}

.button a:hover,
.button a:active {
  background-color: #bd2f32;
}

.title {
  align-content: center;
  justify-content: center;
}
h1 {
  font-size: 3.5rem;
  text-align: center;
}
h2 {
  font-size: 2.5rem;
}
