html {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('gamepageBackground.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
}
content {
  display: grid;
  grid-template-columns: 3% 1fr 300px 1fr 3%;
  grid-template-rows: 3% 1fr 400px 200px 1fr 3%;
  gap: 0px 0px;
  height: 100%;
  width: 100%;
}
h3 {
  font-size: 1.5rem;
  margin: 0;
}
.overlay {
  grid-area: 2 / 2 / 6 / 5;
  background-color: rgba(255, 255, 255, 0.8);
}
.how-to-play {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8fa3b4;
  font-family: 'Unica One', cursive;
}
.instructions {
  background-color: white;
  border: 5px solid #fbce45;
  color: black;
  margin: 5px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}
.instructions p {
  margin: 0;
  padding: 5px;
}
.score-group {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d73739;
}

.upnext {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upnext-group {
  border: 5px solid #f19820;
  padding: 5px;
  background-color: white;
}
.upnext h3 {
  margin: 5px 0 5px 0;
  font-family: 'Unica One', cursive;
  color: #f19820;
}
.game-controls {
  grid-area: 4 / 4 / 5 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gameboard {
  grid-area: 3 / 3 / 5 / 4;
}
.header {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Unica One', cursive;
  margin: 0;
}
.settings {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.settings label {
  padding: 0;
  margin: 5px;
}
.settings p {
  padding: 0;
  margin: 5px;
  font-size: 14px;
}
.header h1 {
  color: #7e8e65;
  margin: 0 0 0 0;
}
.nav-area {
  grid-area: 2 / 2 / 3 / 3;
  font-family: 'Unica One', cursive;
}
.board-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  width: 300px;
  border: 1px solid black;
  background-color: white;
}
.grid-square {
  height: 28px;
  width: 28px;
  border: 1px solid #e8f2d8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upnext-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  width: 100px;
  background-color: white;
  margin: 15px;
  padding: 0 0 0 15px;
}
.upnext-square {
  height: 23px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.filled {
  background-color: aqua;
}
.score h3 {
  font-family: 'Unica One', cursive;
  margin: 0;
  text-align: center;
  padding: 0 5px;
}
.score p {
  font-family: 'Monoton', cursive;
  font-size: 64px;
  color: #d73739;
  margin: 0;
  text-align: center;
  background-color: white;
  min-width: 245px;
  border: 5px solid #d73739;
}
#pause-button {
  font-family: 'Unica One', cursive;
  font-size: 2rem;
  height: 3rem;
  background-color: #bec358;
  margin: 10px;
}
#reset-button {
  font-family: 'Unica One', cursive;
  font-size: 2rem;
  min-height: 3rem;
  background-color: #f4b4b7;
  margin: 10px;
}
.square {
  background-color: #f4b4b7;
}
.rightL {
  background-color: #f19820;
}
.leftL {
  background-color: #7e8e65;
}
.tshape {
  background-color: #8fa3b4;
}
.zig {
  background-color: #d73739;
}
.zag {
  background-color: #fbce45;
}
.pole {
  background-color: #bec358;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #bec358;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bec358;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 23px;
}

.slider.round:before {
  border-radius: 50%;
}
